/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    padding: 50px;
}

h2 {
    font-size: 40px;
    padding-bottom: 26px;
}

main p {
    text-align: justify;
}
/* Header */


header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #355DE0;
    color: white;
}

nav ul {
    height: 35px;
    min-width: 550px;
    width: calc(100 / 3);
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .logo {
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    min-width: 125px;
    height: 35px;
}


header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


header .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 70px;
    background-color: white;
    border-radius: 30px;
    color: black;
}



/* Jumbotron */

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-image: url(img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    color: white;
}

.jumbotron .content {
    max-width: 800px;
    text-align: center;
}

.jumbo-box {
    max-width: 610px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.jumbotron .button-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 45px;
    background-color: white;
    color: black;
}

.jumbotron .button-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 244px;
    height: 45px;
    background-color: black;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 10px;
    margin: 0 63px 0;
}

.jumbotron .buttons .button-white, .button-black {
    border-radius: 30px;
}

main .box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* Main */
/* main {
    padding-top: 0;
}*/

section {  
    margin-top: 50px;
}



section.bg-grey {
    background-color: #F6F6F6;
}

section .container {
    display: flex;
   /* Debug */
    min-height: 500px

}

section .container .image {
    width: 60%;
    background-size: contain;
    margin: 33px 0;
}

main .one .image{
    background-image: url(img/item1.svg);
    background-repeat: no-repeat;
}

main .two .image{
    background-image: url(img/item2.svg);
    background-repeat: no-repeat;
}

main .three .image{
    background-image: url(img/item3.svg);
    background-repeat: no-repeat;
}

section .container .text {
    width: 40%;
    padding: 90px;
    /* Debug */
    min-height: 300px;
}

section.section-bottom .container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .big-image {
    background-image: url(img/item4-big.svg);
    background-repeat: no-repeat;
    height: 530px;
    width: 871px;
}

.box-text h2, p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 830px;
}

main .box-text {
    padding-top: 30px;
}

main .cta .image {
    display: flex;
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 600px;
}

.cta .image h2 {
    font-size: 30px;
    padding-top: 42px;
}

.cta .button {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    margin: 0 150px 130px;
    background-color: #92A0DD;
    border-radius: 30px;
    color: white;
}

/* Footer */

footer {
    background-color: #24272a;
    color: white;
}

footer h3 {
    font-size: 37px;
}

footer h3, h4 {
    color: #7788D4;
    padding-bottom: 10px;
}

footer li {
    padding-bottom: 10px;
}

.footer-top {
    display: flex;
    padding-top: 60px;
    padding-bottom: 110px;
    /* Debug */
    min-height: 300px;
}

.footer-top .col-social {
    width: calc(100% / 3);
}


.footer-top .col-menu {
    width: calc(100% / 6);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #4D587F;
    /* Debug */
    min-height: 200px;
}

footer .lingua {
    display: flex;
    flex-direction: row;
}

footer .bandiera {
    background-image: url(img/ita.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 24px;
    background-size: contain;
    padding-right: 33px;
}

footer li {
    list-style: none;
}

footer .footer-bottom {
}

footer .logo {
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    min-width: 125px;
    height: 35px;
}

footer .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 95px;
    background-color: #92A0DD;
    border-radius: 30px;
    color: white;
}

.social {
    padding-top: 20px;
}

i {
    padding-right: 35px;
}
